* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: linear-gradient(to left,steelblue,white);
}

header {
    width: 50%;
    padding: 20px;
    margin: auto;                                    /*Centraliza o header*/
    margin-top: 20px;          
    text-align: center;
    background-color: white;
    border: 2px solid black;
}

form {
    width: 50%;                                     /*50% do tamanho da página inteira(ou do main, caso fosse limitado*/
    padding: 20px;
    margin: auto;                                   /*Centraliza o form*/
    display: flex;                                  /*cada div vai se auto-ajustando na 'div' principal(nesse caso usei o form como div),uma do lado da outra*/
    background-color: white;
    border: 2px solid black;
}

input {
    margin-bottom: 25px;
}

a {
    text-decoration: none;
}

textarea {
    padding: 5px;
    margin-left: 120px;
    margin-top: 9px;
    font-size: 12px;
}

#fcolun {
    width: 50%;                                       /*50% do tamanho do form*/
    padding-left: 20px;
}

#foto {
    margin-top: 5px;
}

#scolun {
    width: 50%;
    padding-left: 80px;
}

#Term_uso {
    margin-bottom: 0;                                 /*Para deixar os termos de uso e privacidade mais próximos*/
}

#Term_priva {
    margin-bottom: 0;                                 /*Para deixar as novidades mais próximo dos termos*/
}

#cadastrar {                                          /*Botao 1*/
    padding: 5px;
    font-size: 25px;
    background-color: white;
    border: 1px solid black;
}

#cadastrar:hover {
    cursor: pointer;
    background-image: linear-gradient(to left,steelblue,white);
}

#cadastrar:active {
    opacity: 0.4;
}

#sform {
    width: 53%;
    padding: 0;
    display:flex;
}

#feedback {                                           /*div*/
    width: 60%;
    padding-left: 10px;
    padding-top: 3px;
}

#botao_2 {                                            /*Div do botao 2*/
    width: 20%;
    padding-top: 86px;
    padding-left: 50px;
}

#enviar_feedback {                                    /*Botao 2*/
    padding: 5px;
    font-size: 15px;
    background-color: white;
    border: 1px black solid;
}

#enviar_feedback:hover {
    cursor: pointer;
    background-image: linear-gradient(to left,steelblue,white);
}

#enviar_feedback:active {
    opacity: 0.4;
}

.checkbox {
    font-size: 12px;
}

.resposta {                                           /*Area de respota aos inputs*/
    width: 180px;
    font-size: 12px;
    border: black initial;
    background-color: white;
}