* {
    margin: 0;
    padding: 0;
    box-sizing: border;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: linear-gradient(to left,steelblue,white);
}

header {
    width: 50%;
    padding: 1.2rem;
    margin: auto;                                    /*Centraliza o header*/
    margin-top: 1rem;          
    text-align: center;
    background-color: white;
    border: 0.13rem solid black;
}

form {
    width: 50%;                                     /*50% do tamanho da página inteira(ou do main, caso fosse limitado)*/
    padding: 1.2rem;
    margin: auto;                                   /*Centraliza o form*/
    display: flex;                                  /*cada div vai se auto-ajustando na 'div' principal(nesse caso usei o form como div),uma do lado da outra*/
    flex-wrap: wrap;
    background-color: white;
    border: 0.13rem solid black;
}

input {
    margin-bottom: 25px;
}

a {
    text-decoration: none;
}

textarea {
    font-size: 0.8rem;
}

#fcolun {
    width: 45%;                                       /*45% do tamanho do form*/
    margin-left: 1.2em;
    margin-top: 1.3em;
}

#foto {
    width: 100%;                                      
    font-size: 0.7em;
}

#scolun {
    width: 45%;                                       
    margin-left: 1.2em;
    margin-top: 1em;
}

#Term_uso {
    margin-bottom: 0;                                 /*Para deixar os termos de uso e privacidade mais próximos*/
}

#Term_priva {
    margin-bottom: 0;                                 /*Para deixar as novidades mais próximo dos termos*/
}

#novidades {
    margin-bottom: 0.1rem;
}

#cadastrar {                                          /*Botao 1*/
    padding: 0.3em;
    margin-top: 1.8em;
    font-size: 1.4rem;
    background-color: white;
    border: 0.1rem solid black;
}

#cadastrar:hover {
    cursor: pointer;
    background-image: linear-gradient(to left,steelblue,white);
}

#cadastrar:active {
    opacity: 0.4;
}

#sform {
    align-items: flex-end;                            /*Fica alinhado com a parte debaixo da div anterior*/
    margin-bottom: 1.3rem;
}

#feedback {                                           /*div*/
    width: 70%;
}

#feed_area {
    width: 100%;
    margin-top: 1em;
}

#botao_2 {                                            /*Div do botao 2*/
    width: 25%;
    margin-right: 1.2em;                              /*Para quando diminuir a tela, a linha quebrar*/
}

#enviar_feedback {                                    /*Botao 2*/
    margin-left: 0.1em;
    margin-bottom: 0.3em;
    padding: 0.3em;
    font-size: 0.9rem;
    background-color: white;
    border: 0.1rem black solid;
}

#enviar_feedback:hover {
    cursor: pointer;
    background-image: linear-gradient(to left,steelblue,white);
}

#enviar_feedback:active {
    opacity: 0.4;
}

.checkbox {
    font-size: 0.8rem;
}

.resposta {                                           /*Area de respota aos inputs*/
    width: 14em;
    font-size: 0.8rem;
    border: black initial;
    background-color: white;
}